
body{
    padding:0;
    margin:0;
}

a{text-decoration: none;}

.container{
    margin:0  0;

}

ul{
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0; 
    list-style: none;
}

nav{
    max-width:100%;
    height:80px;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDD;
    font-size: 0;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .5px;
    padding:0 70px 0 40px;
    font-family: 'Fraunces', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orelega One', cursive;
    font-family: 'Questrial', sans-serif;
}

nav> div > ul > li{
    display: inline-block;
    font-size: 16px;
    padding:0 15px;
    position:relative;
}

nav >div> ul > li > a{
    color:rgb(42, 42, 51);
    display:block;
    padding:20px 0;
}

nav > div> ul > li:hover > a{
    color:rgb(0, 106, 255);
}

.mega-menu{
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDD;
    visibility: hidden;
    opacity:0;
    position: absolute;
    left: 0;
    top:80px;
    width:100%;
}

.mega-menu h3,
.scroll-item h3{
    color:rgb(42, 42, 51);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.under-item{
    display: flex;
}
.margin-right{
    margin-right: 20px;
    width:140px;
}

.no-border-right{
    border-right:none !important;
}

.mega-menu .container{
    display:flex;
    justify-content: flex-start;
    margin-left:35px ;
}

.mega-menu .item{
    flex-grow: 0;
    border-right:1px solid #DBDBDD;
    margin:30px 0;
    padding:0 30px;
}

.mega-menu li,
.scroll-menu li{
   margin-bottom: 25px;
}

.mega-menu a,
.scroll-menu a{
    font-size: 14px;
    color:rgb(0, 106, 255);
    text-decoration: none;
}

.mega-menu a:hover{
    color:rgb(42, 42, 51);
    text-decoration: underline;
}

.dropdown{
    position:static;
}

.dropdown:hover .mega-menu{
    visibility: visible;
    opacity: 1;
    border-top: 1px solid #DBDBDD;
}

img{
    width:160px;
    height:90px;
}

.scroll-menu{
    width:310px;
    height:500px;
    border: 1px solid #DBDBDD;
    visibility: hidden;
    opacity:0;
    position: absolute;
    right: 320px;
    top:80px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dropdown:hover .scroll-menu{
    visibility: visible;
    opacity: 1;
}

.scroll-menu  .scroll-item{
    flex-grow: 0;
    border-bottom:1px solid #DBDBDD;
    margin:0 30px;
}

.scroll-menu a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(42, 42, 51);
}

.main{
    background-image: url('https://www.zillowstatic.com/s3/homepage/static/ZillowTimberlake_2098_DT_1440.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% bottom;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    width: 100%;

  }
  .searchbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 670px;
    height: 24px;
    align-items: center;
    border: 1px solid white;
    background-color:white;  
    padding: 22px 0px 22px 0px;
    margin-bottom: 140px;
    cursor:text;
    border-radius: 4px;
    caret-color:rgb(11, 26, 26);
  }
  .searchbar:focus-within{
    box-shadow:0 0 0px 1px #FFF,0 0 2px 3px #A6E5FF,0 0 2px 4px #006AFF;
    border: 1px solid blue;
  }
  .textsearch{
    font-size: medium;
    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 4px;
    padding: 30px 35px 30px 28px;
    background-color: white;
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
  }
  .textsearch::placeholder {
    color: rgb(73, 73, 73);
  }
  .textsearch:focus{
    outline: none;
  }
  .iconsearch{
    margin: 10px;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-image: url("../image/icon.png");
    background-size: contain;
    background-color: white;
  }

  .title{
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;
    text-transform: 0;
    font-family: "Ivar Headline","Ivar Headline Subset","Adjusted Times","Adjusted Times New Roman","Times New Roman",serif;
  }

  .location{
    display: flex;
    width: 642px;
    height: 16px;
    padding: 22px 0px 22px 25px;
    margin-top: 75px;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    visibility: hidden;
    cursor: pointer;
  }
  .location p{
    padding: 0 0 0 10px;
    margin:0;
  }

  *,
  :after,
  :before {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: "Sofia", serif;
  }

  .giGuoQ {
      background-color: rgb(249, 249, 251);
      text-align: center;
      margin: auto;
      padding: 72px 0px;
  }

  .cqzEkR {
      width: 100%;
      max-width: 1200px;
  }

  .eYECUP {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-bottom: 72px;
  }

  .dSFcsU {
      display: flex;
      width: 100%;
      list-style: none;
  }

  .dSFcsU li:not(:last-child) {
      margin-right: 24px;
  }

  .dSFcsU li {
      flex-basis: 280px;
      -webkit-box-flex: 2;
      flex-grow: 2;
      display: list-item;
      text-align: -webkit-match-parent;
  }

  .jeDawq:last-of-type {
      margin-right: 0px;
      margin-bottom: 0px;
  }

  .dVlqon {
      flex-basis: 280px;
      padding: 24px;
      text-align: center;
      -webkit-box-flex: 2;
      flex-grow: 2;
      display: flex;
      position: relative;
      border: none;
      cursor: pointer;
      max-width: 100%;
      background-color: rgb(255, 255, 255);
      box-sizing: border-box;
      transition: all 200ms ease-in-out 0s;
      flex-shrink: 0;
  }

  .hzzAux {
      border-radius: 4px;
      box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
  }

  .hzzAux:hover {
      transform: scale(1.05);
  }

  .duuoDw {
      display: flex;
      flex-flow: row wrap;
      -webkit-box-pack: start;
      justify-content: flex-start;
      align-items: flex-start;
      -webkit-box-flex: 0;
      flex-grow: 0;
  }

  .gDiyBQ {
      flex-basis: 277px;
      -webkit-box-flex: 1;
      flex-grow: 1;
      height: auto;
  }

  .bsfEKt {
      display: flex;
      -webkit-box-flex: 2;
      flex-grow: 2;
      flex-shrink: 0;
      margin-top: 16px;
  }

  .dSFcsU li .omp-theme-wrapper picture {
      height: 188px;
      width: auto;
  }

  .PIIPE {
      width: 100%;
      height: 100%;
  }

  .dkTDbp {
      margin-top: 16px;
      margin-left: 0px;
      -webkit-box-flex: 2;
      flex: 2 0 277px;
  }

  .gDTLuI {
      color: rgb(42, 42, 51);
      -webkit-font-smoothing: antialiased;
      text-transform: none;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0px;
  }

  .jeDawq .rtb-card-body-text {
      height: 96px;
      overflow: hidden;
  }

  .gcfaBZ {
      color: rgb(42, 42, 51);
      -webkit-font-smoothing: antialiased;
      text-transform: none;
      font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 16px 0px 0px;
  }



  .cPAuYc {
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid;
      border-radius: 4px;
      user-select: none;
      padding: 9px 16px;
      margin: 24px 0px 16px;
      appearance: none;
      transition-property: background-color, border-color, color;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      outline: none;
      box-shadow: none;
      width: auto;
      position: relative;
      color: rgb(42, 42, 51);
      -webkit-font-smoothing: antialiased;
      text-transform: none;
      font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      height: auto;
  }

  .cPAuYc,
  .cPAuYc:focus,
  .cPAuYc:visited,
  .cPAuYc:disabled {
      background-color: rgb(255, 255, 255);
      border-color: rgb(0, 106, 255);
      color: rgb(0, 106, 255);
  }

  .cPAuYc:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 106, 255);
  }

  .jeDawq .rtb-card-legal-text {
      height: 40px;
      overflow: hidden;
      padding: 4px;
  }

  .dAbsKP {
      color: #2A2A33;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
  }
